@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212122;
    .header-menu{
        max-width: 1990px;
        height: 96px;
        background: #FFF;
        .scoot-img{
            margin-top: 34px;
            margin-left: 169px;
        }
    }
}